<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="login" method="post"/>
<input type = "text" placeholder="Enter your name" name="name"/>
<input type="text" placeholder="Enter your Gamer Tag" name="gamerTag"/>
<input type="password" placeholder="Enter your password" name="password"/>
<button type="submit">Submit</button>
<br><br>

{{#games}}
{{#user}}
{{gamerTag}}({{name}}){{/user}} : {{title}} on {{system}}<br>
{{/games}}

</body>
</html>